:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  background-color: #ADD8E6;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

fieldset{
  border: 5px solid #333333;
  margin-right: 75%;
}

.parent{
  position: relative;
  top: 0;
  bottom: 0;
}